$mainColor: #1569ff;
$subColor: #3D50CB;

$subBack: #F2F4F7;

$fontMainColor: #191919;
$fontSubColor: #777;

$sectionLine: #F3F3F3;
$inputLine: #BCBCBC;
$iconLine: #EBEBEB;

$pre: Pretendard;

$semi: 600;
$bold: 700;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1200px;