$mainColor: #3D50CB;
$subColor: #FE3D59;
$backColor: #F2F4F7;

$fontMain: #191919;
$fontSub: #777;

$inputLine: #BCBCBC;
$iconLine: #EBEBEB;
$sectionLine: #F3F3F3;

$pre: Pretendard;

$reg: 300; 
$medi: 500;
$semi: 600;
$bold: 700;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1200px;